h1 {
    display: flex;
    color: white;
    background-color: black;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 1px;
}

nav {
    background-color: crimson;
    margin-top: 0;
    margin-bottom: 1px;
}

#nav_middle {
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    width: 20%;
    height: 30px;
}

a {
    color: white;
    text-decoration: none;
}

.buttons {
    width: 25%;
    margin: auto;
    background-color: rgb(95, 81, 188);
    color: white;
}

#current-page {
    outline-style: solid;
    outline-color: black;
    outline-width: medium;
}

main {
    background-color: bisque;
    width: 100%;
    margin-top: 0;
    margin-bottom: 1px;
    flex: 1;
}

body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

#cards {
    display: flex;
    margin: auto;
    justify-content: center;
    width: 90%
}

.column {
    margin: auto;
    background-color: white;
    border-radius: 5px;
}

.portraits {
    width: 300px;
    margin: auto;
}

footer {
    display: flex;
    color: #AAAAAA;
    background-color: black;
    justify-content: center;
}

#greeting-box {
    display: flex;
    color: black;
    justify-content: center;
}

#quote-box {
    display: flex;
    justify-content: center;
    color: black;
}

#form-box {
    display: flex;
    justify-content: center;
}